<p id="notice"><%= flash[:updated_user] %></p>

<div class="container">
    <div class="row">
        
        <%= render 'books/list', book: @book, user: @user %>
        
        <div class="col-8">
            <h2>Books</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Title</th>
                        <th scope="col">Opinion</th>
                    </tr>
                </thead>
                <tbody>
                    <% @books.each do |books| %>
                        <tr>
                            <th scope="row">
                                <% if @user.profile_image.attached? %>
                                    <%= image_tag @user.profile_image, size: "100x100" %>
                                <% else %>
                                    <%= image_tag 'default-image', size: "100x100" %>
                                <% end %>
                            </th>
                            <td><%= link_to "#{books.title}", book_path(books.id) %></td>
                            <td><%= books.body %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        
    </div>
</div>