<p id="notice"></p>

<div class="container">
    <div class="row">
        
        <%= render 'list', book: @book, user: current_user %>
        
        <div class="col-8">
            <h2>Books</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Title</th>
                        <th scope="col"></th>
                        <th scope="col">Opinion</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @books.each do |books| %>
                        <tr>
                            <th scope="row">
                                <% if books.user.profile_image.attached? %>
                                    <%= image_tag books.user.profile_image, size: "80x80" %>
                                <% else %>
                                    <%= image_tag 'default-image', size: "80x80" %>
                                <% end %>
                            </th>
                            <td colspan="2">
                                <%= link_to "#{books.title}", book_path(books.id) %>
                            </td>
                            <td colspan="5">
                                <%= books.body %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
