<p id="notice"></p>

<div class="container">
    <div class="row">
        
        <div class="col-4">
            <h2>User info</h2>
            <ul class="list-group list-group-flush">
                <% if current_user.profile_image.attached? %>
                    <%= image_tag current_user.profile_image, size: "100x100" %>
                <% else %>
                    <%= image_tag 'default-image', size: "100x100" %>
                <% end %>
                <li class="list-group-item d-flex">
                    <strong class="flex-fill">name</strong>
                    <strong class="flex-fill"><%= current_user.name %></strong>
                </li>
                <li class="list-group-item d-flex">
                    <strong class="flex-fill">introduction</strong>
                    <strong class="flex-fill"><%= current_user.introduction %></strong>
                </li>
            </ul>
            <%= link_to edit_user_path(current_user.id) do %>
                <button type="button" class="btn btn-outline-secondary btn-lg btn-block">
                <i class="fas fa-user-cog"></i>
                </button>
            <% end %>
            <div class="p-3">
                <h2>New book</h2>
                <%= form_with model: @user do |f| %>
                    <div class="form-group">
                        <label>Title</label>
                        <%= f.text_field :title, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <label>Opinion</label>
                        <%=f.text_area :opinion, class: "form-control" %>
                    </div>
                    <%= f.submit "Create Book", class: "btn btn-success my-2" %>
                <% end %>
            </div>
        </div>
        
    </div>
</div>
