<p id="notice">
    <%= flash[:created] %>
    <%= flash[:updated_book] %>
</p>

<div class="container">
    <div class="row">
        
        <%= render 'list', book: @book, user: @user %>
        
        <div class="col-md-8 offset-md-1">
            <h2 class="p-1">Book detail</h2>
            <table class="table p-2">
                <tbody>
                    <tr>
                        <th scope="col">
                            <%= link_to user_path(@user.id) do %>
                                <% if @user.profile_image.attached? %>
                                    <%= image_tag @user.profile_image, size: "125x125" %>
                                <% else %>
                                    <%= image_tag 'default-image', size: "125x125" %>
                                <% end %>
                                <br>
                                <%= @user.name %>
                            <% end %>
                        </th>
                        <th scope="col">
                            <%= link_to "#{@current_book.title}", book_path(@current_book.id) %>
                        <th>
                        <th scope="col"><%= @current_book.body %></th>
                        <% if @current_book.user == current_user %>
                            <th scope="col">
                                <%= link_to "Edit", edit_book_path(@current_book.id), class: "btn btn-success" %>
                            </th>
                            <th scope="col">
                                <%= link_to "Destroy", book_path(@current_book.id), method: :delete, 
                                    data: {confirm: "本当に消しますか？"}, class: "btn btn-danger" %>
                            </th>
                        <% end %>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
